<footer id="kFooter" class="footer">
    <section id="kLinks">
        <div class="row">
             {% for section in site.navigation.bottom %}
                  <nav class="col-sm">
                      <h3>{{ section.name }}</h3>
                      {% for item in section.items %}
                          <a href="{{ item.url }}">{{ item.title }}</a>
                      {% endfor %}
                  </nav>
              {% endfor %}
        </div>
    </section>

    <section id="KGlobalContributorLinks">
        <nav class="clearfix">
        <p>RKWard is powered by the KDE project and community. <a href="https://kde.org">Learn more about KDE</a>.</p>
        </nav>
    </section>

    <section id="KGlobalLegalInfo" class="container">
        <small>
            KDE
            <sup>&copy;</sup> and the K Desktop Environment
            <sup>&copy;</sup> logo (
            <figure style="font-family: glyph">K</figure>) are registered trademarks of
            <a href="https://ev.kde.org" title="Homepage of the KDE non-profit Organization">KDE e.V.</a>
        </small>
        <small>
            <a href="https://www.kde.org/community/whatiskde/impressum.php">Legal</a>
        </small>
    </section>
</footer>

<div id="kImagePreview"  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="kImagePreviewContainer">
        <img src="">
    </div>
</div>

<!-- Standard JS Files, bootstrap Async -->
<script src="https://cdn.kde.org/aether-devel/bootstrap.js"></script>

{% if site.matomo %}


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.kde.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '{{ site.matomo }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<!-- End Matomo Code -->
{% endif %}
